.App {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
}

.rocket-image {
  position: fixed; 
  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center center; 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.mission-info {
  position: fixed;
  bottom: 0;
  left: 2%;

  color: #ecf0f1;
}

.mission-info h1 {
  font-size: 40px;
}

.mission-info h2 {
  font-size: 25px;
  font-weight: 300;
  opacity: 0.8;
}

.countdown {
  position: fixed;
  bottom: 0;
  right: 2%;
  margin: auto 0;

  color: #ecf0f1;
}

.datetime-column {
  width: 50px;
  float: left;
  position: relative;
}

h3 {
  font-weight: 400;
  font-size: 25px;
}

h4 {
  font-weight: 300;
  font-size: 10px;
}

/* Media query to add a breakpoint at 450px: */
@media screen and (max-width: 450px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  .countdown {
    position: fixed;
    top: 0;
    margin: auto 0;
  
    color: #ecf0f1;
  }
}
