.App {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('images/electron.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background-color: black;
}

.rocket-image {
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
  opacity: 0.8;
}

.mission-info {
  position: fixed;
  bottom: 0;
  left: 2%;

  color: #ecf0f1;
}

.mission-info h1 {
  font-size: 40px;
}

.mission-info h2 {
  font-size: 25px;
  font-weight: 300;
  opacity: 0.8;
}

.countdown {
  position: fixed;
  bottom: 0;
  right: 2%;
  margin: auto 0;

  color: #ecf0f1;
}

.datetime-column {
  width: 50px;
  float: left;
  position: relative;
}

h3 {
  font-weight: 400;
  font-size: 25px;
}

h4 {
  font-weight: 300;
  font-size: 10px;
}
